/* Choose__card */

.container {
  width: 100vw;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.choose-field {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.choose__title {
  margin: 0 auto;
  font-size: 64px;
  font-weight: 400;
  line-height: 105%;
  color: #6b7280;
}

/* Choose__item */
.search {
  margin: 36px auto 20px;
  width: 730px;
  height: 25px;
}

.search__field {
  margin: 0 auto;
}

.card__container {
  margin: 0 auto;
}

.card__wrapper {
  display: flex;
  max-width: 660px;
  max-height: 150px;
  padding: 26px 20px;
  background-color: #f3f4f6;
  border-radius: 4px;
}

.card__wrapper:hover {
  border: 2px solid #38bdf8;
}

.card__img {
  margin-right: 24px;
}

.card-info__title {
  color: #0ea5e9;
  font-size: 24px;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
}

.card-info__subtitle {
  color: #9ca3af;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

/* Footer */
footer {
  margin-top: auto;
  height: 100px;
  border-top: 2px var(--gray-50, #f9fafb);
  box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.05);
}

.footer__btn {
  cursor: pointer;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  margin: 14px 20px 0 0;
  color: #f3f4f6;
  background-color: #38bdf8;
}
